.body{
	background-color: #f1e5f1;
}

.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 5px;
}

.logo{
	widht: auto;
	height: 80px;
	padding-top: 5px;
	padding-left: 25px;
}

.menu{
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu li{
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
	color: #524280;
	font-family: dongle, sans-serif;
	font-size: 35px;
}

.menu li a{
	color: #524280;
	text-decoration: none;
	transition: all 0.5s ease;
}

.menu li a:hover{
	padding-right: 18px;
	padding-left: 18px;
	color: #f1e5f1;
	background-color: #524280;
	border-radius: 80px;
}

.iconosmenu{
	display: flex;
	padding-right: 50px;
	color: #524280;
	font-size: 32px;
}

.iconosmenu a{
	color: #524280;
}

.iconosmenu a:hover{
	color: #524280;
}

.iconosmenu li{
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;	
}

.iconosmenu li:hover{
	font-size: 37px;
	transition: all 0.5s ease;
}

.seccionuno{
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 45px;
}

#destay{
	font-family: dongle, sans-serif;
	font-weight: bold;
	font-size: 250px;
	text-align: left;
	color: #524280;
	line-height: 60%;
	padding-top: 80px;
}

.fotouno{
	widht:auto;
	height: 640px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
}

.textop{
	font-family: dongle, sans-serif;
	color: #524280;
	font-size: 40px;
	line-height: 80%;
}

.botonuno{
	background-color: none;
	border: solid;
	outline-color: #1a1934;
	color: #1a1934;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: dongle, sans-serif;
	font-size: 30px;
	cursor: pointer;
	border-radius: 80px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 10px;
}

.botonuno:hover{
	color: #f1e5f1;
	background-color: #1a1934;
}

.botondos{
	background-color: none;
	border: solid;
	outline-color: #1a1934;
	color: #1a1934;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: dongle, sans-serif;
	font-size: 30px;
	cursor: pointer;
	border-radius: 80px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 10px;
}

.botondos:hover{
	color: #f1e5f1;
	background-color: #1a1934;
}





.secciontres{
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 45px;	
}

#prod1{
	font-family: dongle, sans-serif;
	color: #524280;
	font-size: 55px;
	padding-top: 50px;
	margin-left: 25px;
}

.imagenprod{
	widht:auto;
	height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	margin-bottom: 30px;
}

.tituloprod{
	text-align: center;
	font-family: dongle, sans-serif;
	font-size: 50px;
	color: #524280;
	line-height: 20%;
}

.precioprod{
	text-align: center;
	font-family: dongle, sans-serif;
	font-size: 40px;
	color: #524280;	
}

.botontres{
	align-items: center;
	background-color: none;
	border: solid;
	outline-color: #1a1934;
	color: #1a1934;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: dongle, sans-serif;
	font-size: 30px;
	cursor: pointer;
	border-radius: 80px;
	padding-right: 20px;
	padding-left: 20px;
}

.botontres:hover{
	color: #f1e5f1;
	background-color: #1a1934;
}

.forms{
	margin-left: 150px;
	margin-right: 150px;
	color: #524280;
}

footer{
	margin-top: 20px;
}

#copyright{
	font-family: dongle, sans-serif;
	font-size: 30px;
	text-align: center;
	color: #524280;
}

